{% extends 'base.html.twig' %}



{% block body %}
    <div class="container">
        <h1>Edit ActifNonCourant</h1>

        <div class="row">
            <div class="col-md-6">
                {# Render the ActifCourant form #}
                <form method="post" action="{{ path('app_actif_non_courant_edit', {'id': actif_non_courant.id}) }}">
                    {{ form_start(form, {'attr': {'class': 'my-form'}}) }}

                    <div class="form-group">
                        {{ form_label(form.name, 'Name') }}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control', 'style': 'width: 300%;','placeholder': actif_non_courant.name}}) }}
                        {{ form_errors(form.name) }}
                    </div>


                    <div class="form-group">
                        {{ form_label(form.type, 'Type') }}
                        {{ form_widget(form.type, {'attr': {'class': 'form-control', 'style': 'width: 200%;','placeholder':actif_non_courant.type}}) }}
                        {{ form_errors(form.type) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.valeur, 'Valeur') }}
                        {{ form_widget(form.valeur, {'attr': {'class': 'form-control', 'style': 'width: 200%;','placeholder':actif_non_courant.valeur}}) }}
                        {{ form_errors(form.valeur) }}
                    </div>


                    <button type="submit" class="btn btn-primary">Create</button>

                    {{ form_end(form) }}
                </form>
                <a href="{{ path('app_actif_courant_index') }}">back to list</a>

            </div>
        </div>
    </div>
{% endblock %}