{% extends 'base.html.twig' %}

{% block title %}New ActifCourant{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new ActifNonCourant</h1>

        <div class="row">
            <div class="col-md-6">
                {# Render the ActifCourant form #}
                <form id="newActifForm" action="{{ path('app_actif_non_courant_new') }}" method="post">
                    {{ form_start(form, {'attr': {'class': 'my-form'}}) }}

                    <div class="form-group">
                        {{ form_label(form.name, 'Name') }}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control', 'style': 'width: 300%;'}}) }}
                        {{ form_errors(form.name) }}
                    </div>


                    <div class="form-group">
                        {{ form_label(form.type, 'Type') }}
                        {{ form_widget(form.type, {'attr': {'class': 'form-control', 'style': 'width: 200%;'}}) }}
                        {{ form_errors(form.type) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.valeur, 'Valeur') }}
                        {{ form_widget(form.valeur, {'attr': {'class': 'form-control', 'style': 'width: 200%;'}}) }}
                        {{ form_errors(form.valeur) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.prix_achat, 'prix_achat') }}
                        {{ form_widget(form.prix_achat, {'attr': {'class': 'form-control', 'style': 'width: 200%;'}}) }}
                        {{ form_errors(form.prix_achat) }}
                    </div>

                    <button type="submit" class="btn btn-primary">Create</button>

                    {{ form_end(form) }}
                </form>
                <button class="btn btn-secondary" onclick="closeAddActifModal()">Cancel</button>

            </div>
        </div>
    </div>
{% endblock %}