{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Edit Actif Courant</h1>

        <div class="row">
            <div class="col-md-6">
                <form method="post" action="{{ path('app_actif_courant_edit', {'id': actif_courant.id}) }}">
                {{ form_start(form, {'attr': {'class': 'my-form'}}) }}

                <div class="form-group">
                    {{ form_label(form.name, 'Name') }}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': actif_courant.name}}) }}
                    {{ form_errors(form.name) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.montant, 'Montant') }}
                    {{ form_widget(form.montant, {'attr': {'class': 'form-control', 'placeholder': actif_courant.montant}}) }}
                    {{ form_errors(form.montant) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.type, 'Type') }}
                    {{ form_widget(form.type, {'attr': {'class': 'form-control', 'placeholder': actif_courant.type}}) }}
                    {{ form_errors(form.type) }}
                </div>

                <button type="submit" class="btn btn-primary">Save Changes</button>

                {{ form_end(form) }}
                </form>
                <a href="{{ path('app_actif_courant_index') }}">back to list</a>
            </div>
        </div>
    </div>
{% endblock %}